.experienceSection {
  padding: 1rem 2rem 4rem;
  background-color: #0a0a0a;
  color: #ffffff;
  text-align: center;
  position: relative;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.swiper {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem 2rem 4rem;
  position: relative;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 6px 20px rgba(255, 255, 255, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  min-height: 600px;
  width: 100%;
}

/* .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 28px rgba(255, 255, 255, 0.12);
  border-color: rgba(255, 255, 255, 0.2);
} */

.cardHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.2rem;
}

.logo {
  height: 150px;
  width: 150px;
  object-fit: contain;
  border-radius: 20%;
  margin-bottom: 0.5rem;
}

.roleBlock {
  text-align: center;
}

.role {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.company {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-bottom: 0.2rem;
}

.duration {
  font-size: 1.2rem;
  font-style: italic;
  color: #999999;
}

.achievementList {
  list-style:square;
  text-align: left;
  margin-top: 3rem;
  padding-left: 1rem;
  color: #e0e0e0;
  font-size: 1.2rem;
  line-height: 1.5;
}

.skillTags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-top: 4rem;
}

.skillTags span {
  background-color: #1e1e1e;
  padding: 0.5rem 0.9rem;
  border-radius: 10px;
  font-size: 1rem;
  border: 1px solid #444;
  transition: all 0.3s ease;
}

.skillTags span:hover {
  background-color: #333;
  transform: scale(1.05);
}

/* Arrows */
.arrow {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  z-index: 10;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0.6rem;
  border-radius: 50%;
}


.swiper-button-prev {
  left: -60px;
}

.swiper-button-next {
  right: -600px;
}

/* Dots */
.swiper-pagination-bullet {
  background-color: #aaa;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  background-color: white;
  opacity: 1;
  box-shadow: 0 0 6px white;
}

@media (max-width: 768px) {
  .arrow {
    display: none;
  }

  .card {
    padding: 1.5rem;
  }

  .role {
    font-size: 1.2rem;
  }

  .company {
    font-size: 1rem;
  }

  .duration {
    font-size: 0.9rem;
  }

  .achievementList {
    font-size: 0.9rem;
  }
}
