.heroSection {
  padding: 1rem 2rem 2rem; /* reduced top padding */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #e0e0e0;
}

.imageContainer {
  margin-top: 1rem;  /* tighter spacing above the image */
  margin-bottom: 5rem;
}

.profilePic {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(108, 99, 255, 0.4);
  border: 3px solid #333;
}

.textContent {
  max-width: 800px;
  padding: 1.5rem;
}

.name {
  color: #6c63ff;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.3rem;
}

h2 {
  font-size: 2rem;
  color: #a0a0ff;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.typewriterWrapper {
  height: 2.5rem; /* adjust as needed based on font size and emoji */
  display: inline-block;
}


.description {
  font-size: 1.3rem;
  margin-bottom: 2rem;
  line-height: 1.6;
  color: #cccccc;
}

.buttonGroup {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.resumeBtn,
.workBtn {
  background-color: #333;
  color: #e0e0e0;
  padding: 0.7rem 1.4rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s ease;
}

.resumeBtn:hover,
.workBtn:hover {
  background-color: #555;
}

@media (max-width: 768px) {
  .profilePic {
    width: 140px;
    height: 140px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.95rem;
  }
}
